{
  "openapi": "3.1.0",
  "info": {
    "title": "Run a Call External API",
    "version": "1.0.0",
    "description": "> A bearer-authenticated REST API for pushing data into and pulling data out of **[Run a Call](https://runacall.com)** — the field service platform built for small-to-mid HVAC companies. Migrate from your old CRM, sync with accounting tools, fire Zapier / Make / n8n flows on real-time events, or wire your own scripts. Same surface internally — no second-class endpoints.\n\n## ⚡ Quick start\n\nThree lines to your first request. Replace the token with one from **[Settings → Integrations → API](https://app.runacall.com/settings/integrations/api)** in your dashboard.\n\n```bash\ncurl https://api.runacall.com/v1/customers \\\n  -H \"Authorization: Bearer rkc_live_...\"\n```\n\nThat's it. Bearer header, JSON in, JSON out.\n\n---\n\n## 🔑 Authentication\n\nEvery request needs an `Authorization: Bearer rkc_live_...` header.\n\n| Scope | Grants |\n|---|---|\n| `read` | All `GET` endpoints |\n| `write` | `POST` and `PATCH` on customers / properties / equipment / jobs / memberships |\n\nTokens are **SHA-256 hashed at rest**. The raw value is shown to the org owner exactly once at creation — we cannot retrieve it later. Rotate at any time from the same settings page; the old token works for a 24-hour grace window so deploys don't break.\n\n---\n\n## 🛡️ Tenant isolation\n\nEvery request is scoped to the organization that owns the bearer token.\n\n- Cross-org reads return **404 (not 403)** to mask existence\n- No `admin` scope, no DELETE endpoints, no destructive verbs\n- Soft-delete (`is_deleted = true`) is a UI-only operation\n- RLS + service-role org-filter run independently — defense in depth\n\n---\n\n## 🚦 Rate limits\n\n| Layer | Limit | Window |\n|---|---|---|\n| Per key — sustained | 60 req | 1 min rolling |\n| Per key — burst | 120 req | 10 s rolling |\n| Per org — all keys combined | 300 req | 1 min rolling |\n| Concurrent in-flight per key | 5 | — |\n| Per-IP — unauthed paths | 10 req | 1 min rolling |\n\nExceeding any layer returns **`429 Too Many Requests`** with a `Retry-After` header. Founders can raise a known integrator's limit via per-key override — email **[admin@runacall.com](mailto:admin@runacall.com)**.\n\n---\n\n## 🔁 Idempotency — upsert by `external_id`\n\nEvery writable resource (customers, properties, equipment, jobs, memberships) accepts `external_id` + `external_source`. POSTing the same pair twice **upserts the existing row** — returns 200 with the same UUID instead of 201 with a duplicate.\n\n```bash\n# First call — creates\ncurl -X POST https://api.runacall.com/v1/customers \\\n  -H \"Authorization: Bearer rkc_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"external_id\":\"crm-acme-001\",\"external_source\":\"servicetitan\",\"first_name\":\"Jenny\",\"last_name\":\"Rosen\"}'\n# → 201 Created, id: 497f6eca-6276-4993-bfeb-53cbbbba6f08\n\n# Same call again — upserts, same id\ncurl -X POST https://api.runacall.com/v1/customers \\\n  -H \"Authorization: Bearer rkc_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"external_id\":\"crm-acme-001\",\"external_source\":\"servicetitan\",\"first_name\":\"Jenny\",\"last_name\":\"Rosen\"}'\n# → 200 OK, id: 497f6eca-6276-4993-bfeb-53cbbbba6f08\n```\n\nSafe to retry. Safe to script bulk imports against. Network blip? Re-fire — you'll never end up with duplicates.\n\n---\n\n## 📄 Pagination\n\nCursor-based, never offset. Pass back the `next_cursor` from a response as `?starting_after=<cursor>` to fetch the next page.\n\n```json\n{\n  \"data\": [ /* up to 100 items */ ],\n  \"has_more\": true,\n  \"next_cursor\": \"MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ\"\n}\n```\n\nDefault page size 50, hard cap 100. There's no way to ask for \"all rows\" in a single call — keep your loop honest.\n\n---\n\n## ❌ Errors\n\nEvery error response is the same envelope:\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_request\",\n    \"message\": \"external_id is required when upserting\",\n    \"doc_url\": \"https://docs.runacall.com/#errors-invalid_request\",\n    \"request_id\": \"req_a93a7817f5a8485d80204becea\"\n  }\n}\n```\n\nQuote **`request_id`** when reaching out for support — it correlates to our audit log.\n\n<a id=\"errors-invalid_request\"></a>\n### `invalid_request` — 400 / 422\n\nBody or query parameter validation failed. The `message` field names the specific issue. Common causes: missing required field, unknown field (`.strict()` rejects extras), `external_id` without `external_source`, FK reference not found in this organization, invalid job status transition.\n\n<a id=\"errors-unauthorized\"></a>\n### `unauthorized` — 401\n\nMissing or invalid bearer token. Check the `Authorization` header format: `Bearer rkc_live_...`. If you rotated the token recently, the old value works for 24 hours — verify you're using the right one.\n\n<a id=\"errors-forbidden\"></a>\n### `forbidden` — 403\n\nYour token lacks the required scope. `POST` and `PATCH` endpoints require the `write` scope; everything else needs `read`. Issue a new key with the right scopes from the Settings page.\n\n<a id=\"errors-not_found\"></a>\n### `not_found` — 404\n\nThe resource doesn't exist, OR it belongs to another organization. We mask cross-org existence to prevent enumeration attacks — there's no way to tell from outside which case it is.\n\n<a id=\"errors-conflict\"></a>\n### `conflict` — 409\n\nConcurrent upsert race lost. Two POSTs hit the same `(external_id, external_source)` at once; only one won the unique-index race. **Retry the same payload** — your second attempt will hit the existing row via the upsert path and return 200.\n\n<a id=\"errors-rate_limited\"></a>\n### `rate_limited` — 429\n\nOne of the rate-limit layers above kicked in. The response includes a `Retry-After` header (seconds). Back off and retry.\n\n<a id=\"errors-internal_error\"></a>\n### `internal_error` — 500\n\nA bug on our end. Quote the `request_id` when emailing **admin@runacall.com** and we'll investigate. We log every 5xx response with full context.\n\n---\n\n## 🪝 Webhooks\n\nPush real-time events to your own endpoints instead of polling. Subscribe a URL via **[Settings → Integrations → Webhooks](https://app.runacall.com/settings/integrations/webhooks)**.\n\n**15 canonical events** across customers, jobs, estimates, invoices, payments, voice calls, and memberships. Every delivery is **HMAC-SHA256 signed** over `\\${ts}.\\${raw_body}` — header: `Run-A-Call-Signature: t=<unix>,v1=<hex>`. Verify the timestamp is within 5 minutes (replay protection), then verify the signature.\n\nFailed deliveries retry 3x with exponential backoff. After **10 consecutive failures** the subscription auto-pauses and we email the org owner — resume with one click.\n\nSee the **Webhooks** section in the sidebar for the full event catalog + payload shapes.\n\n---\n\n## 📦 What you can build\n\nA few patterns the API was designed for:\n\n- **One-shot migration from your old CRM** — script a pull from ServiceTitan / Housecall Pro / a spreadsheet → POST against `/customers` + `/properties` + `/equipment` with your own `external_id`. Re-run safely; idempotent.\n- **Accounting sync** — subscribe to `invoice.paid` + `payment.received` webhooks → push into QuickBooks / Xero / your ERP.\n- **Zapier / Make / n8n automation** — webhook triggers fan out to Slack, Notion, Google Sheets, anywhere.\n- **Custom analytics** — `GET /voice-calls/{id}` returns transcripts. No other HVAC platform exposes this.\n\nNeed an integration we haven't documented yet? Email **[admin@runacall.com](mailto:admin@runacall.com)** with what you're trying to do and we'll wire it.",
    "contact": {
      "name": "Run a Call Support",
      "email": "admin@runacall.com"
    }
  },
  "servers": [
    {
      "url": "https://api.runacall.com/v1",
      "description": "Production (bearer-token surface)"
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer records — full CRUD in Phase 2."
    },
    {
      "name": "Properties",
      "description": "Service locations belonging to a customer."
    },
    {
      "name": "Equipment",
      "description": "HVAC equipment installed at a property."
    },
    {
      "name": "Jobs",
      "description": "Service / install / maintenance / estimate jobs."
    },
    {
      "name": "Memberships",
      "description": "Customer service-agreement subscriptions."
    },
    {
      "name": "Estimates",
      "description": "Good/Better/Best estimates (read-only — push via Jobs)."
    },
    {
      "name": "Invoices",
      "description": "Derived from completed jobs (read-only)."
    },
    {
      "name": "Payments",
      "description": "Recorded against invoices (read-only)."
    },
    {
      "name": "Voice Calls",
      "description": "AI receptionist calls — unique-to-us asset with transcripts."
    },
    {
      "name": "Pricebook",
      "description": "Services, parts, labor, and bundles."
    },
    {
      "name": "Communications",
      "description": "Outbound + inbound SMS/email log per customer."
    },
    {
      "name": "Webhooks",
      "description": "Outbound HTTP webhook deliveries from Run a Call to subscriber URLs.\n\n**Authentication.** Every POST carries `Run-A-Call-Signature: t=<unix>,v1=<hex>`.\nThe signed string is `${ts}.${raw_body}`. Verify with HMAC-SHA256 against the\nsubscription secret. Reject if `Math.abs(now - t) > 5 minutes` to defeat\nreplay attacks.\n\n**Deduplication.** Each delivery's `event.id` (header\n`Run-A-Call-Event-Id`, also in the JSON body) is stable across retries\nof the same logical event. Store the last N event ids you've processed\nand dedupe before applying business logic.\n\n**Retry policy.** Subscriber returns 2xx within 10 seconds → success.\nAnything else (non-2xx, timeout, network error) is retried up to 3 total\nattempts with default Inngest backoff. After 10 consecutive terminal\nfailures, the subscription is auto-paused and the org owner is emailed.\nResume from /settings/integrations/webhooks/{id}.\n\n**Concurrency.** Run a Call caps fan-out at 100 matching subscriptions\nper single internal event and concurrent deliveries at 50 in-flight per\nfunction — beyond that, the system bails rather than fan out unbounded."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rkc_live_*",
        "description": "Bearer token issued from /settings/integrations/api. Format: `rkc_live_<32 base62 chars>`. Hashed at rest; the raw token is shown to the org owner exactly once at creation."
      }
    },
    "schemas": {
      "CustomerCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "first_name": {
            "type": "string",
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "examples": [
              "google"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerUpdatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.updated"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "CustomerTaggedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.tagged"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/CustomerTaggedData"
          }
        }
      },
      "CustomerTaggedData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Customer"
          },
          {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "customer.tagged"
                ]
              },
              "tag": {
                "$ref": "#/components/schemas/TaggedTag"
              },
              "tagged_by": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              },
              "tagged_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "TaggedTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "JobScheduledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.scheduled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer",
            "minimum": 1,
            "description": "1-based ordinal within the parent job. Day 1 = sequence 1, Day 2 = sequence 2, etc.",
            "examples": [
              1
            ]
          },
          "scheduled_date": {
            "type": "string",
            "examples": [
              "2026-05-20"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "on_way",
              "arrived",
              "in_progress",
              "wrap",
              "complete",
              "cancelled"
            ],
            "description": "Forward-only state machine. `wrap` = end-of-day on a multi-day install (the appointment is done for today, but the install isn't complete). Only the final-day appointment moves to `complete`."
          },
          "customer_notified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Set when the on-the-way SMS fires (Lead-only action)."
          },
          "actual_arrival": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_complete": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes_for_crew": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Customer is home all day. Side gate code 4421."
            ]
          },
          "assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assignment"
            },
            "description": "Crew assigned to this appointment. Ordered Lead-first, then helpers alphabetical by tech_id."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Assignment": {
        "type": "object",
        "properties": {
          "tech_id": {
            "type": "string",
            "format": "uuid",
            "description": "Profile id of the tech assigned to this appointment."
          },
          "role": {
            "type": "string",
            "enum": [
              "lead",
              "helper"
            ],
            "description": "Exactly one Lead per appointment (DB partial unique index). Lead owns all customer-facing actions; helpers own their own clock state only."
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Optional per-tech window override. When null, falls back to the appointment-level scheduled_start."
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tech_state": {
            "type": "string",
            "enum": [
              "off_clock",
              "en_route",
              "on_site",
              "on_break",
              "off_site"
            ],
            "description": "Independent per-tech state. Driven by the mobile app — not mutable via the External API in v1 (clock-in is a tech-on-device flow)."
          },
          "clocked_in_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "clocked_out_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-job-2026-1042"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "assigned_tech_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Lead of the next-incomplete appointment (trigger-maintained denormalization from `appointments` → `appointment_assignments`). Preserves backward compatibility for integrators that consumed the legacy 1-tech-per-job shape."
          },
          "status": {
            "type": "string",
            "examples": [
              "scheduled"
            ]
          },
          "priority": {
            "type": "string",
            "examples": [
              "scheduled"
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "service"
            ]
          },
          "source": {
            "type": "string",
            "examples": [
              "call"
            ]
          },
          "scheduled_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-05-20"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_arrival": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "problem_description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "AC not cooling — possibly low refrigerant. Customer says it ran fine yesterday."
            ]
          },
          "diagnosis": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "R-410A leak at evaporator coil. ~0.5 lb low."
            ]
          },
          "work_performed": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Replaced evaporator coil. Recharged refrigerant to spec. Pressure-tested."
            ]
          },
          "parent_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "is_multi_day": {
            "type": "boolean",
            "description": "True when this job has more than one appointment row."
          },
          "total_days": {
            "type": "integer",
            "minimum": 1,
            "description": "Total appointment count (>= 1). 1 for service calls, 2+ for multi-day installs.",
            "examples": [
              1
            ]
          },
          "is_multi_tech": {
            "type": "boolean",
            "description": "True when any appointment of this job has more than one assignment. DERIVED at wire-build time — accurate only when `appointments` are embedded (always on detail; opt-in via `?include=appointments` on list). When appointments are not embedded, this field defaults to `false` — set the query parameter if you need exact multi-tech detection on list responses."
          },
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Appointment"
            },
            "description": "Embedded appointments[]. Always present on `GET /api/v1/jobs/{id}` (detail). Present on list responses ONLY when `?include=appointments` is set. Omitted otherwise."
          },
          "membership_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Phase 20 (M0.e): the customer's membership at job creation time, or `null` for non-member jobs. Maintained at write time by job-creation paths (M0.f); historical jobs backfilled by migration 185 using a best-effort match (most recent `membership.start_date <= job.created_at`)."
          },
          "coverage_type": {
            "type": "string",
            "enum": [
              "membership_covered",
              "membership_billable",
              "non_member"
            ],
            "description": "Phase 20 (M0.e): coverage classification per the memberships plan §2 decision #13. `membership_covered` = cron-scheduled tune-up (included scope $0). `membership_billable` = repair / add-on for a member at the member rate. `non_member` = standard rate (default for everyone else).",
            "examples": [
              "non_member"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JobStatus_changedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.status_changed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "JobCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "JobTaggedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.tagged"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/JobTaggedData"
          }
        }
      },
      "JobTaggedData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Job"
          },
          {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "job.tagged"
                ]
              },
              "tag": {
                "$ref": "#/components/schemas/TaggedTag"
              },
              "tagged_by": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              },
              "tagged_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "EstimateSentEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.sent"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "EstimateOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tier": {
            "type": "string",
            "examples": [
              "better"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Better — 16 SEER AC + smart thermostat"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Carrier Performance series, smart thermostat install, 10-year parts warranty."
            ]
          },
          "total_price": {
            "type": "number",
            "examples": [
              7850
            ]
          },
          "is_selected": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "number"
          }
        }
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-est-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "examples": [
              "sent"
            ]
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-13"
            ]
          },
          "customer_approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "AC replacement + new smart thermostat install. Includes 10-year parts warranty."
            ]
          },
          "converted_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "amount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total of the selected option (`is_selected = true`). `null` when no option is selected yet.",
            "examples": [
              7850
            ]
          },
          "signed_total": {
            "type": [
              "number",
              "null"
            ],
            "description": "Customer-signed all-in total snapshotted at approval — base items + the add-ons the customer accepted + discounts + tax. The legally-binding number the customer signed for, and the source of truth the auto-created job's invoice must match. `null` until the estimate is approved. Differs from `amount` (selected option's base price) only when the customer accepted add-on line items.",
            "examples": [
              8350
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimateOption"
            },
            "description": "Good / Better / Best tiers sorted by `sort_order`. Empty array when the estimate has no options yet."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EstimateApprovedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.approved"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "InvoiceIssuedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.issued"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-inv-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "property_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Service-location FK. Set by the QBO importer for invoices that originally belonged to a QBO sub-customer (so per-location history survives flattening sub-customers into properties). Null for native invoices today."
          },
          "invoice_number": {
            "type": "string",
            "examples": [
              "INV-2026-1042"
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "sent"
            ]
          },
          "subtotal": {
            "type": "number",
            "examples": [
              450
            ]
          },
          "tax_amount": {
            "type": "number",
            "examples": [
              36
            ]
          },
          "tax_rate": {
            "type": "number",
            "examples": [
              0.08
            ]
          },
          "total": {
            "type": "number",
            "examples": [
              486
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-12"
            ]
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paid_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Service call + evaporator coil replacement. Net 30."
            ]
          },
          "membership_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Phase 21 (M1.a): the membership this invoice renews, when `invoice_type === 'membership_renewal'`. Null on job-derived (`'manual'`) invoices."
          },
          "invoice_type": {
            "type": "string",
            "enum": [
              "manual",
              "membership_renewal",
              "milestone"
            ],
            "description": "Phase 21 (M1.a): `'manual'` = job-derived (historical default). `'membership_renewal'` = auto-generated by the daily membership renewal cron. `'milestone'` = a payment-schedule milestone invoice — one of several invoices billing the same job's estimate schedule.",
            "examples": [
              "manual"
            ]
          },
          "milestone_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The estimate payment milestone this invoice bills, when `invoice_type === 'milestone'`. A job with a payment schedule produces one invoice per milestone, each with its own status, due date, and pay link. Null on non-milestone invoices."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoicePaidEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.paid"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "PaymentReceivedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "payment.received"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Payment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "payment"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "invoice_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "examples": [
              486
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "method": {
            "type": "string",
            "description": "Payment method. One of: `credit_card`, `ach`, `zelle`, `wire`, `check`, `cash`.",
            "examples": [
              "credit_card"
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "succeeded"
            ]
          },
          "stripe_payment_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "pi_3OqK4nJ8ZcU2bC0a1Y2eX3f"
            ]
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "collected_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VoiceCallCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.call.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceCallDetail"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_call"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "VoiceCallDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VoiceCallListRow"
          },
          {
            "type": "object",
            "properties": {
              "transcript": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "Agent: Hi, thanks for calling Acme HVAC. How can I help today?\nCaller: My AC isn't cooling. Can someone come out?\nAgent: I can schedule a tech for tomorrow morning. Does 9am work?\nCaller: Yes, that's perfect.\nAgent: Booked. You'll get a confirmation text shortly."
                ]
              },
              "recording_url": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "https://storage.runacall.com/voice-recordings/{org}/{call_id}.mp3"
                ]
              }
            }
          }
        ]
      },
      "VoiceCallListRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "call_direction": {
            "type": "string",
            "examples": [
              "inbound"
            ]
          },
          "call_status": {
            "type": "string",
            "examples": [
              "completed"
            ]
          },
          "from_number": {
            "type": "string",
            "examples": [
              "+15555550100"
            ]
          },
          "to_number": {
            "type": "string",
            "examples": [
              "+15555550199"
            ]
          },
          "duration_seconds": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              247
            ]
          },
          "is_spam": {
            "type": "boolean"
          },
          "is_billable": {
            "type": "boolean"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Customer reporting AC not cooling. Requested same-day service. Confirmed appointment for tomorrow 9am."
            ]
          },
          "user_sentiment": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "positive"
            ]
          },
          "call_intent": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "service_request"
            ]
          },
          "urgency_level": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "routine"
            ]
          },
          "triage_status": {
            "type": "string",
            "examples": [
              "new"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VoiceFollowupCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.followup.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceFollowup"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_followup"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "VoiceFollowup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_call_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "urgency": {
            "type": "string"
          },
          "callback_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "related_estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_invoice_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MembershipCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-mship-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "service_agreement_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "non_renewing",
              "suspended",
              "cancelled",
              "expired"
            ],
            "description": "Membership lifecycle state. `active` = currently paid and auto-renewing. `non_renewing` = customer cancelled — benefits + visits remain through end_date, no future billing cycles. `suspended` = paused by the org — billing paused, benefits paused, clock resumes on reactivate. `cancelled` = ended immediately (admin override). `expired` = end_date passed without renewal (terminal).",
            "examples": [
              "active"
            ]
          },
          "billing_cycle": {
            "type": "string",
            "examples": [
              "monthly"
            ]
          },
          "start_date": {
            "type": "string",
            "examples": [
              "2026-01-15"
            ]
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2027-01-15"
            ]
          },
          "next_billing_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-15"
            ]
          },
          "next_maintenance_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-09-15"
            ]
          },
          "cancelled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancellation_reason": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Customer moved out of service area."
            ]
          },
          "suspended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_renewed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Phase 21 (M1.b): timestamp of the most recent successful renewal rollover. `null` until the first renewal invoice is paid. The `membership.renewed` webhook fires once per rollover."
          },
          "units": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "M5.a: number of equipment units this membership covers. Default 1 (matches pre-M5.a flat-pricing semantics). When the linked plan has `price_per_unit` configured, the MRR is per-unit: `price_per_unit + (units - 1) × price_each_additional`, capped at the plan's `max_units`. Otherwise the membership's flat plan price applies regardless of units.",
            "examples": [
              1,
              2
            ]
          },
          "autopay_enabled": {
            "type": "boolean",
            "description": "Phase 21 (M1.f): true when the member has opted in to off-session Stripe Connect autopay AND a vaulted PaymentMethod is on file for the org's Connect account. Read-only on this surface — turning autopay on requires Stripe-side card tokenization done in the in-app settings flow, not via REST.",
            "examples": [
              false,
              true
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MembershipRenewedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.renewed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "MembershipCancelledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.cancelled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "MembershipSuspendedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.suspended"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "MembershipReactivatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.reactivated"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "MembershipTransferredEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.transferred"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "AppointmentScheduledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "appointment.scheduled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Appointment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "appointment"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "AppointmentStatus_changedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "appointment.status_changed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Appointment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "appointment"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "AppointmentCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "appointment.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Appointment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "appointment"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "AppointmentAssignments_changedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "appointment.assignments_changed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Appointment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "appointment"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "method_not_allowed",
                  "conflict",
                  "unsupported_media_type",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string",
                "examples": [
                  "Missing or malformed Authorization header. Expected: Authorization: Bearer rkc_live_..."
                ]
              },
              "doc_url": {
                "type": "string",
                "format": "uri",
                "examples": [
                  "https://docs.runacall.com/api#errors-unauthorized"
                ]
              },
              "request_id": {
                "type": "string",
                "examples": [
                  "req_a93a7817f5a8485d80204becea"
                ]
              }
            }
          }
        }
      },
      "CustomerDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "CustomerLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        }
      },
      "CustomerWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Integrator's own identifier. When paired with `external_source`, POSTing the same value twice upserts the existing row (200) instead of creating a duplicate (201).",
            "examples": [
              "crm-acme-001"
            ]
          },
          "external_source": {
            "type": "string",
            "description": "Namespace for `external_id` (e.g. 'servicetitan'). Required when `external_id` is provided.",
            "examples": [
              "servicetitan"
            ]
          },
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email",
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Free-form attribution label (1–50 chars). Integrator-defined — use whatever taxonomy fits your reporting. Common values: `google`, `referral`, `angi`, `website`, `facebook`, `tiktok`, `truck-wrap`, `trade-show`, `other`.",
            "examples": [
              "google",
              "facebook",
              "trade-show"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20,
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          }
        },
        "required": [
          "first_name",
          "last_name"
        ]
      },
      "CustomerPatchRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email",
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Free-form attribution label (1–50 chars). Integrator-defined — use whatever taxonomy fits your reporting. Common values: `google`, `referral`, `angi`, `website`, `facebook`, `tiktok`, `truck-wrap`, `trade-show`, `other`.",
            "examples": [
              "google",
              "facebook",
              "trade-show"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20,
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          }
        },
        "description": "Partial update. `external_id` / `external_source` cannot be changed via PATCH (re-POST with a new pair instead). Unknown keys return 422."
      },
      "PropertyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address_line_1": {
            "type": "string",
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "residential"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              -122.4192
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PropertyDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Property"
          }
        }
      },
      "PropertyWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Customer UUID. Provide this OR `customer_external_id` + `customer_external_source`."
          },
          "customer_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001"
            ]
          },
          "customer_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90,
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180,
            "examples": [
              -122.4192
            ]
          }
        },
        "required": [
          "address_line_1",
          "city",
          "state",
          "zip"
        ]
      },
      "PropertyPatchRequest": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90,
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180,
            "examples": [
              -122.4192
            ]
          }
        }
      },
      "EquipmentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Equipment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        }
      },
      "Equipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001-eq1"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "examples": [
              "ac",
              "walk_in_cooler"
            ],
            "description": "Equipment type key. Canonical HVAC keys always available: furnace, ac, heat_pump, boiler, mini_split, water_heater, thermostat, iaq, other. Additionally accepts any per-org custom label defined in the org's equipment types registry (migration 314). Free text, 1-64 chars."
          },
          "system_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional grouping layer added in migration 314. Points at an `equipment_systems.id` (e.g. 'Cooler A'). Null = ungrouped."
          },
          "asset_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "EVAP-A-12"
            ],
            "description": "Customer-facing unit identifier (migration 314). Case-insensitive unique per property. Distinct from `serial_number` and `external_id`."
          },
          "track_refrigerant": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Per-equipment refrigerant tab visibility (migration 314). Defaults from the canonical type's `uses_refrigerant` at create time when omitted; explicit override wins."
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Carrier"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "24ABC636A003"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "3618E12345"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2018-06-15"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2028-06-15"
            ]
          },
          "condition": {
            "type": "string",
            "examples": [
              "good"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "3-ton split system, R-410A refrigerant."
            ]
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "https://storage.runacall.com/eq-photos/{org}/3618E12345.jpg"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EquipmentDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          }
        }
      },
      "EquipmentLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        }
      },
      "EquipmentWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-eq1"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid",
            "description": "Property UUID. Provide this OR `property_external_id` + `property_external_source`."
          },
          "property_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "property_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "examples": [
              "ac",
              "walk_in_cooler"
            ],
            "description": "Equipment type key. Canonical HVAC keys always available: furnace, ac, heat_pump, boiler, mini_split, water_heater, thermostat, iaq, other. Any per-org custom label defined via /settings equipment types is also accepted (migration 314). Free text, 1-64 chars."
          },
          "system_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional grouping layer id (migration 314). Points at an `equipment_systems.id`. Must belong to the same property."
          },
          "asset_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 80,
            "examples": [
              "EVAP-A-12"
            ],
            "description": "Customer-facing unit identifier (migration 314). Case-insensitive unique per property. 23505 on duplicate."
          },
          "track_refrigerant": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Per-equipment refrigerant tracking (migration 314). When omitted at create time, server defaults from the canonical type's `uses_refrigerant`."
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "Carrier"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "24ABC636A003"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "3618E12345"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2018-06-15"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2028-06-15"
            ]
          },
          "condition": {
            "type": "string",
[...]
