{
  "openapi": "3.1.0",
  "info": {
    "title": "Run a Call External API",
    "version": "1.0.0",
    "description": "Bearer-authenticated REST API for pushing data into and pulling data out of Run a Call.\n\nAll endpoints are scoped to the organization that owns the bearer token. Tenant isolation is enforced server-side; cross-org reads return 404 (not 403) to mask existence.\n\nRate limits: 60 req/min sustained per key (override-able by founders), 120/10s burst, 300/min per org, 5 concurrent in-flight per key. Exceeding any layer returns 429 with a `Retry-After` header.\n\nEvery request carries an `X-Request-Id` header. Quote it when reaching out for support.",
    "contact": {
      "name": "Run a Call Support",
      "email": "admin@runacall.com"
    }
  },
  "servers": [
    {
      "url": "https://api.runacall.com/v1",
      "description": "Production (bearer-token surface)"
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer records — full CRUD in Phase 2."
    },
    {
      "name": "Properties",
      "description": "Service locations belonging to a customer."
    },
    {
      "name": "Equipment",
      "description": "HVAC equipment installed at a property."
    },
    {
      "name": "Jobs",
      "description": "Service / install / maintenance / estimate jobs."
    },
    {
      "name": "Memberships",
      "description": "Customer service-agreement subscriptions."
    },
    {
      "name": "Estimates",
      "description": "Good/Better/Best estimates (read-only — push via Jobs)."
    },
    {
      "name": "Invoices",
      "description": "Derived from completed jobs (read-only)."
    },
    {
      "name": "Payments",
      "description": "Recorded against invoices (read-only)."
    },
    {
      "name": "Voice Calls",
      "description": "AI receptionist calls — unique-to-us asset with transcripts."
    },
    {
      "name": "Pricebook",
      "description": "Services, parts, labor, and bundles."
    },
    {
      "name": "Communications",
      "description": "Outbound + inbound SMS/email log per customer."
    },
    {
      "name": "Webhooks",
      "description": "Outbound HTTP webhook deliveries from Run a Call to subscriber URLs.\n\n**Authentication.** Every POST carries `Run-A-Call-Signature: t=<unix>,v1=<hex>`.\nThe signed string is `${ts}.${raw_body}`. Verify with HMAC-SHA256 against the\nsubscription secret. Reject if `Math.abs(now - t) > 5 minutes` to defeat\nreplay attacks.\n\n**Deduplication.** Each delivery's `event.id` (header\n`Run-A-Call-Event-Id`, also in the JSON body) is stable across retries\nof the same logical event. Store the last N event ids you've processed\nand dedupe before applying business logic.\n\n**Retry policy.** Subscriber returns 2xx within 10 seconds → success.\nAnything else (non-2xx, timeout, network error) is retried up to 3 total\nattempts with default Inngest backoff. After 10 consecutive terminal\nfailures, the subscription is auto-paused and the org owner is emailed.\nResume from /settings/integrations/webhooks/{id}.\n\n**Concurrency.** Run a Call caps fan-out at 100 matching subscriptions\nper single internal event and concurrent deliveries at 50 in-flight per\nfunction — beyond that, the system bails rather than fan out unbounded."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rkc_live_*",
        "description": "Bearer token issued from /settings/integrations/api. Format: `rkc_live_<32 base62 chars>`. Hashed at rest; the raw token is shown to the org owner exactly once at creation."
      }
    },
    "schemas": {
      "CustomerCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "first_name": {
            "type": "string",
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "examples": [
              "google"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "first_name",
          "last_name",
          "company_name",
          "email",
          "phone",
          "phone_alt",
          "billing_address_line_1",
          "billing_address_line_2",
          "billing_city",
          "billing_state",
          "billing_zip",
          "source",
          "tags",
          "created_at",
          "updated_at"
        ]
      },
      "CustomerUpdatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.updated"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "JobScheduledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.scheduled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-job-2026-1042"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "assigned_tech_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "examples": [
              "scheduled"
            ]
          },
          "priority": {
            "type": "string",
            "examples": [
              "scheduled"
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "service"
            ]
          },
          "source": {
            "type": "string",
            "examples": [
              "call"
            ]
          },
          "scheduled_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-05-20"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_arrival": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "problem_description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "AC not cooling — possibly low refrigerant. Customer says it ran fine yesterday."
            ]
          },
          "diagnosis": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "R-410A leak at evaporator coil. ~0.5 lb low."
            ]
          },
          "work_performed": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Replaced evaporator coil. Recharged refrigerant to spec. Pressure-tested."
            ]
          },
          "parent_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "property_id",
          "equipment_id",
          "assigned_tech_id",
          "status",
          "priority",
          "type",
          "source",
          "scheduled_date",
          "scheduled_start",
          "scheduled_end",
          "actual_arrival",
          "actual_start",
          "actual_end",
          "problem_description",
          "diagnosis",
          "work_performed",
          "parent_job_id",
          "estimate_id",
          "created_at",
          "updated_at"
        ]
      },
      "JobStatus_changedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.status_changed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "JobCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "EstimateSentEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.sent"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "EstimateOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tier": {
            "type": "string",
            "examples": [
              "better"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Better — 16 SEER AC + smart thermostat"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Carrier Performance series, smart thermostat install, 10-year parts warranty."
            ]
          },
          "total_price": {
            "type": "number",
            "examples": [
              7850
            ]
          },
          "is_selected": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "tier",
          "title",
          "description",
          "total_price",
          "is_selected",
          "sort_order"
        ]
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-est-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "examples": [
              "sent"
            ]
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-13"
            ]
          },
          "customer_approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "AC replacement + new smart thermostat install. Includes 10-year parts warranty."
            ]
          },
          "converted_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "amount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total of the selected option (`is_selected = true`). `null` when no option is selected yet.",
            "examples": [
              7850
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimateOption"
            },
            "description": "Good / Better / Best tiers sorted by `sort_order`. Empty array when the estimate has no options yet."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "property_id",
          "equipment_id",
          "status",
          "valid_until",
          "customer_approved_at",
          "notes",
          "converted_job_id",
          "currency",
          "amount",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "EstimateApprovedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.approved"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "InvoiceIssuedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.issued"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-inv-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "invoice_number": {
            "type": "string",
            "examples": [
              "INV-2026-1042"
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "sent"
            ]
          },
          "subtotal": {
            "type": "number",
            "examples": [
              450
            ]
          },
          "tax_amount": {
            "type": "number",
            "examples": [
              36
            ]
          },
          "tax_rate": {
            "type": "number",
            "examples": [
              0.08
            ]
          },
          "total": {
            "type": "number",
            "examples": [
              486
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-12"
            ]
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paid_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Service call + evaporator coil replacement. Net 30."
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "job_id",
          "invoice_number",
          "status",
          "subtotal",
          "tax_amount",
          "tax_rate",
          "total",
          "currency",
          "due_date",
          "sent_at",
          "paid_at",
          "notes",
          "created_at",
          "updated_at"
        ]
      },
      "InvoicePaidEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.paid"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "PaymentReceivedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "payment.received"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Payment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "payment"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "invoice_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "examples": [
              486
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "method": {
            "type": "string",
            "examples": [
              "credit_card"
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "succeeded"
            ]
          },
          "stripe_payment_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "pi_3OqK4nJ8ZcU2bC0a1Y2eX3f"
            ]
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "collected_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "invoice_id",
          "amount",
          "currency",
          "method",
          "status",
          "stripe_payment_id",
          "collected_at",
          "collected_by",
          "created_at",
          "updated_at"
        ]
      },
      "VoiceCallCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.call.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceCallDetail"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_call"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "VoiceCallDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VoiceCallListRow"
          },
          {
            "type": "object",
            "properties": {
              "transcript": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "Agent: Hi, thanks for calling Acme HVAC. How can I help today?\nCaller: My AC isn't cooling. Can someone come out?\nAgent: I can schedule a tech for tomorrow morning. Does 9am work?\nCaller: Yes, that's perfect.\nAgent: Booked. You'll get a confirmation text shortly."
                ]
              },
              "recording_url": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "https://storage.runacall.com/voice-recordings/{org}/{call_id}.mp3"
                ]
              }
            },
            "required": [
              "transcript",
              "recording_url"
            ]
          }
        ]
      },
      "VoiceCallListRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "call_direction": {
            "type": "string",
            "examples": [
              "inbound"
            ]
          },
          "call_status": {
            "type": "string",
            "examples": [
              "completed"
            ]
          },
          "from_number": {
            "type": "string",
            "examples": [
              "+15555550100"
            ]
          },
          "to_number": {
            "type": "string",
            "examples": [
              "+15555550199"
            ]
          },
          "duration_seconds": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              247
            ]
          },
          "is_spam": {
            "type": "boolean"
          },
          "is_billable": {
            "type": "boolean"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Customer reporting AC not cooling. Requested same-day service. Confirmed appointment for tomorrow 9am."
            ]
          },
          "user_sentiment": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "positive"
            ]
          },
          "call_intent": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "service_request"
            ]
          },
          "urgency_level": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "routine"
            ]
          },
          "triage_status": {
            "type": "string",
            "examples": [
              "new"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customer_id",
          "call_direction",
          "call_status",
          "from_number",
          "to_number",
          "duration_seconds",
          "is_spam",
          "is_billable",
          "summary",
          "user_sentiment",
          "call_intent",
          "urgency_level",
          "triage_status",
          "created_at",
          "updated_at"
        ]
      },
      "VoiceFollowupCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.followup.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceFollowup"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_followup"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "VoiceFollowup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_call_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "urgency": {
            "type": "string"
          },
          "callback_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "related_estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_invoice_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "voice_call_id",
          "customer_id",
          "category",
          "reason",
          "urgency",
          "callback_number",
          "related_estimate_id",
          "related_invoice_id",
          "related_job_id",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "MembershipCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-mship-001"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "service_agreement_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "examples": [
              "active"
            ]
          },
          "billing_cycle": {
            "type": "string",
            "examples": [
              "monthly"
            ]
          },
          "start_date": {
            "type": "string",
            "examples": [
              "2026-01-15"
            ]
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2027-01-15"
            ]
          },
          "next_billing_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-15"
            ]
          },
          "next_maintenance_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-09-15"
            ]
          },
          "cancelled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancellation_reason": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Customer moved out of service area."
            ]
          },
          "suspended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "service_agreement_id",
          "status",
          "billing_cycle",
          "start_date",
          "end_date",
          "next_billing_date",
          "next_maintenance_date",
          "cancelled_at",
          "cancellation_reason",
          "suspended_at",
          "created_at",
          "updated_at"
        ]
      },
      "MembershipRenewedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.renewed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "MembershipCancelledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.cancelled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "method_not_allowed",
                  "conflict",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string",
                "examples": [
                  "Missing or malformed Authorization header. Expected: Authorization: Bearer rkc_live_..."
                ]
              },
              "doc_url": {
                "type": "string",
                "format": "uri",
                "examples": [
                  "https://docs.runacall.com/api#errors-unauthorized"
                ]
              },
              "request_id": {
                "type": "string",
                "examples": [
                  "req_a93a7817f5a8485d80204becea"
                ]
              }
            },
            "required": [
              "code",
              "message",
              "doc_url",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CustomerDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "has_duplicates"
        ]
      },
      "CustomerWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Integrator's own identifier. When paired with `external_source`, POSTing the same value twice upserts the existing row (200) instead of creating a duplicate (201).",
            "examples": [
              "crm-acme-001"
            ]
          },
          "external_source": {
            "type": "string",
            "description": "Namespace for `external_id` (e.g. 'servicetitan'). Required when `external_id` is provided.",
            "examples": [
              "servicetitan"
            ]
          },
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email",
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "google",
              "referral",
              "angi",
              "website",
              "other"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20,
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          }
        },
        "required": [
          "first_name",
          "last_name"
        ]
      },
      "CustomerPatchRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Jenny"
            ]
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "Rosen"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Acme HVAC"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email",
            "examples": [
              "jenny.rosen@example.com"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550100"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30,
            "examples": [
              "+15555550101"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "google",
              "referral",
              "angi",
              "website",
              "other"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20,
            "examples": [
              [
                "vip",
                "commercial"
              ]
            ]
          }
        },
        "description": "Partial update. `external_id` / `external_source` cannot be changed via PATCH (re-POST with a new pair instead). Unknown keys return 422."
      },
      "PropertyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address_line_1": {
            "type": "string",
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "residential"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "examples": [
              -122.4192
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "address_line_1",
          "address_line_2",
          "city",
          "state",
          "zip",
          "type",
          "access_notes",
          "lat",
          "lng",
          "created_at",
          "updated_at"
        ]
      },
      "PropertyDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Property"
          }
        },
        "required": [
          "data"
        ]
      },
      "PropertyWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Customer UUID. Provide this OR `customer_external_id` + `customer_external_source`."
          },
          "customer_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001"
            ]
          },
          "customer_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90,
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180,
            "examples": [
              -122.4192
            ]
          }
        },
        "required": [
          "address_line_1",
          "city",
          "state",
          "zip"
        ]
      },
      "PropertyPatchRequest": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "examples": [
              "510 Townsend St"
            ]
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200,
            "examples": [
              "Suite 200"
            ]
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "examples": [
              "San Francisco"
            ]
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "examples": [
              "CA"
            ]
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "examples": [
              "94103"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "examples": [
              "Gate code: 4321. Dog in backyard."
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90,
            "examples": [
              37.7793
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180,
            "examples": [
              -122.4192
            ]
          }
        }
      },
      "EquipmentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Equipment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Equipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "crm-acme-001-eq1"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "servicetitan"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "examples": [
              "ac"
            ]
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Carrier"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "24ABC636A003"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "3618E12345"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2018-06-15"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2028-06-15"
            ]
          },
          "condition": {
            "type": "string",
            "examples": [
              "good"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "3-ton split system, R-410A refrigerant."
            ]
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "https://storage.runacall.com/eq-photos/{org}/3618E12345.jpg"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "property_id",
          "type",
          "manufacturer",
          "model",
          "serial_number",
          "install_date",
          "warranty_expiry",
          "condition",
          "notes",
          "data_plate_photo_url",
          "created_at",
          "updated_at"
        ]
      },
      "EquipmentDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          }
        },
        "required": [
          "data"
        ]
      },
      "EquipmentLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "has_duplicates"
        ]
      },
      "EquipmentWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-eq1"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid",
            "description": "Property UUID. Provide this OR `property_external_id` + `property_external_source`."
          },
          "property_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "property_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "furnace",
              "ac",
              "heat_pump",
              "boiler",
              "mini_split",
              "water_heater",
              "thermostat",
              "iaq",
              "other"
            ]
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "Carrier"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "24ABC636A003"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "3618E12345"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2018-06-15"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2028-06-15"
            ]
          },
          "condition": {
            "type": "string",
            "enum": [
              "good",
              "fair",
              "poor",
              "critical"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000,
            "examples": [
              "3-ton split system, R-410A refrigerant."
            ]
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048,
            "examples": [
              "https://storage.runacall.com/eq-photos/{org}/3618E12345.jpg"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "EquipmentPatchRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "furnace",
              "ac",
              "heat_pump",
              "boiler",
              "mini_split",
              "water_heater",
              "thermostat",
              "iaq",
              "other"
            ]
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "Carrier"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "24ABC636A003"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "examples": [
              "3618E12345"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2018-06-15"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2028-06-15"
            ]
          },
          "condition": {
            "type": "string",
            "enum": [
              "good",
              "fair",
              "poor",
              "critical"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000,
            "examples": [
              "3-ton split system, R-410A refrigerant."
            ]
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048,
            "examples": [
              "https://storage.runacall.com/eq-photos/{org}/3618E12345.jpg"
            ]
          }
        }
      },
      "JobList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "JobDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Job"
          }
        },
        "required": [
          "data"
        ]
      },
      "JobWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-job-2026-1042"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001"
            ]
          },
          "customer_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-prop1"
            ]
          },
          "property_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "equipment_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001-eq1"
            ]
          },
          "equipment_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "scheduled",
              "en_route",
              "in_progress",
              "completed",
              "invoiced",
              "closed",
              "follow_up",
              "cancelled"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "emergency",
              "urgent",
              "scheduled"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "service",
              "maintenance",
              "install",
              "estimate",
              "callback"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "call",
              "website",
              "membership_auto",
              "follow_up",
              "estimate_conversion",
              "recurring"
            ]
          },
          "scheduled_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-05-20"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-05-20T16:00:00Z"
            ]
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-05-20T18:00:00Z"
            ]
          },
          "problem_description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000,
            "examples": [
              "AC not cooling — possibly low refrigerant."
            ]
          }
        },
        "description": "Required FKs (customer, property) can be supplied as UUID OR as `{name}_external_id` + `{name}_external_source`. Equipment is optional, same dual form. PATCH on jobs is status-only."
      },
      "JobPatchRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "created",
              "scheduled",
              "en_route",
              "in_progress",
              "completed",
              "invoiced",
              "closed",
              "follow_up",
              "cancelled"
            ]
          }
        },
        "required": [
          "status"
        ],
        "description": "Status-only per spec §4. Invalid transitions (per VALID_STATUS_TRANSITIONS — same rules the UI enforces) return 422. No-op (same status) returns 200 with the unchanged row."
      },
      "MembershipList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Membership"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "MembershipDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Membership"
          }
        },
        "required": [
          "data"
        ]
      },
      "MembershipWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "examples": [
              "crm-acme-mship-001"
            ]
          },
          "external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_external_id": {
            "type": "string",
            "examples": [
              "crm-acme-001"
            ]
          },
          "customer_external_source": {
            "type": "string",
            "examples": [
              "servicetitan"
            ]
          },
          "service_agreement_id": {
            "type": "string",
            "format": "uuid",
            "description": "Service agreement UUID. The service_agreements table does NOT carry external_id columns in V1 — UUID is the only supported reference."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "cancelled",
              "expired"
            ]
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-01-15"
            ]
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2027-01-15"
            ]
          },
          "next_billing_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-06-15"
            ]
          },
          "next_maintenance_date": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "2026-09-15"
            ]
          }
        },
        "required": [
          "service_agreement_id"
        ]
      },
      "MembershipPatchRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "cancelled",
              "expired"
            ]
          }
        },
        "required": [
          "status"
        ],
        "description": "Status-only per spec §4."
      },
      "EstimateList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Estimate"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "EstimateDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Estimate"
          }
        },
        "required": [
          "data"
        ]
      },
      "InvoiceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "InvoiceDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Invoice"
          }
        },
        "required": [
          "data"
        ]
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "PaymentDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Payment"
          }
        },
        "required": [
          "data"
        ]
      },
      "VoiceCallList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceCallListRow"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VoiceCallDetailEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VoiceCallDetail"
          }
        },
        "required": [
          "data"
        ]
      },
      "PricebookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricebookItem"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "PricebookItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "examples": [
              "Diagnostic Service Call"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "1-hour HVAC system diagnostic. Includes written estimate."
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "service"
            ]
          },
          "unit_price": {
            "type": "number",
            "examples": [
              89
            ]
          },
          "unit_cost": {
            "type": "number",
            "examples": [
              25
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Hardcoded `USD` in V1.",
            "examples": [
              "USD"
            ]
          },
          "is_taxable": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "category_id",
          "name",
          "description",
          "type",
          "unit_price",
          "unit_cost",
          "currency",
          "is_taxable",
          "is_active",
          "created_at",
          "updated_at"
        ]
      },
      "PricebookDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PricebookItem"
          }
        },
        "required": [
          "data"
        ]
      },
      "CommunicationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Communication"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Communication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "channel": {
            "type": "string",
            "examples": [
              "sms"
            ]
          },
          "direction": {
            "type": "string",
            "examples": [
              "outbound"
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "on_my_way"
            ]
          },
          "recipient": {
            "type": "string",
            "examples": [
              "+15555550100"
            ]
          },
          "message_body": {
            "type": "string",
            "examples": [
              "Hi Jenny, this is Acme HVAC. Your tech is on the way — ETA 9:15am."
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "delivered"
            ]
          },
          "twilio_message_sid": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "SM3a8f7e6d5c4b3a2918e7f6d5c4b3a291"
            ]
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customer_id",
          "job_id",
          "channel",
          "direction",
          "type",
          "recipient",
          "message_body",
          "status",
          "twilio_message_sid",
          "sent_at",
          "created_at",
          "updated_at"
        ]
      },
      "CommunicationDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Communication"
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.runacall.com/v1/customers \\\n  -H \"Authorization: Bearer rkc_live_...\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const res = await fetch(\"https://api.runacall.com/v1/customers\", {\n  headers: {\n    Authorization: `Bearer ${process.env.RUNACALL_API_KEY}`,\n  },\n});\nconst data = await res.json();"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Page size. Default 50, hard-capped at 100.",
              "examples": [
                "50"
              ]
            },
            "required": false,
            "description": "Page size. Default 50, hard-capped at 100.",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous response's `next_cursor`."
            },
            "required": false,
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return customers created strictly after this ISO-8601 timestamp."
            },
            "required": false,
            "description": "Return customers created strictly after this ISO-8601 timestamp.",
            "name": "created_after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
[...]
