{
  "openapi": "3.1.0",
  "info": {
    "title": "Run a Call External API",
    "version": "1.0.0",
    "description": "Bearer-authenticated REST API for pushing data into and pulling data out of Run a Call.\n\nAll endpoints are scoped to the organization that owns the bearer token. Tenant isolation is enforced server-side; cross-org reads return 404 (not 403) to mask existence.\n\nRate limits: 60 req/min sustained per key (override-able by founders), 120/10s burst, 300/min per org, 5 concurrent in-flight per key. Exceeding any layer returns 429 with a `Retry-After` header.\n\nEvery request carries an `X-Request-Id` header. Quote it when reaching out for support.",
    "contact": {
      "name": "Run a Call Support",
      "email": "admin@runacall.com"
    }
  },
  "servers": [
    {
      "url": "https://api.runacall.com/v1",
      "description": "Production (bearer-token surface)"
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer records — full CRUD in Phase 2."
    },
    {
      "name": "Properties",
      "description": "Service locations belonging to a customer."
    },
    {
      "name": "Equipment",
      "description": "HVAC equipment installed at a property."
    },
    {
      "name": "Jobs",
      "description": "Service / install / maintenance / estimate jobs."
    },
    {
      "name": "Memberships",
      "description": "Customer service-agreement subscriptions."
    },
    {
      "name": "Estimates",
      "description": "Good/Better/Best estimates (read-only — push via Jobs)."
    },
    {
      "name": "Invoices",
      "description": "Derived from completed jobs (read-only)."
    },
    {
      "name": "Payments",
      "description": "Recorded against invoices (read-only)."
    },
    {
      "name": "Voice Calls",
      "description": "AI receptionist calls — unique-to-us asset with transcripts."
    },
    {
      "name": "Pricebook",
      "description": "Services, parts, labor, and bundles."
    },
    {
      "name": "Communications",
      "description": "Outbound + inbound SMS/email log per customer."
    },
    {
      "name": "Webhooks",
      "description": "Outbound HTTP webhook deliveries from Run a Call to subscriber URLs.\n\n**Authentication.** Every POST carries `Run-A-Call-Signature: t=<unix>,v1=<hex>`.\nThe signed string is `${ts}.${raw_body}`. Verify with HMAC-SHA256 against the\nsubscription secret. Reject if `Math.abs(now - t) > 5 minutes` to defeat\nreplay attacks.\n\n**Deduplication.** Each delivery's `event.id` (header\n`Run-A-Call-Event-Id`, also in the JSON body) is stable across retries\nof the same logical event. Store the last N event ids you've processed\nand dedupe before applying business logic.\n\n**Retry policy.** Subscriber returns 2xx within 10 seconds → success.\nAnything else (non-2xx, timeout, network error) is retried up to 3 total\nattempts with default Inngest backoff. After 10 consecutive terminal\nfailures, the subscription is auto-paused and the org owner is emailed.\nResume from /settings/integrations/webhooks/{id}.\n\n**Concurrency.** Run a Call caps fan-out at 100 matching subscriptions\nper single internal event and concurrent deliveries at 50 in-flight per\nfunction — beyond that, the system bails rather than fan out unbounded."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rkc_live_*",
        "description": "Bearer token issued from /settings/integrations/api. Format: `rkc_live_<32 base62 chars>`. Hashed at rest; the raw token is shown to the org owner exactly once at creation."
      }
    },
    "schemas": {
      "CustomerCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "first_name",
          "last_name",
          "company_name",
          "email",
          "phone",
          "phone_alt",
          "billing_address_line_1",
          "billing_address_line_2",
          "billing_city",
          "billing_state",
          "billing_zip",
          "source",
          "tags",
          "created_at",
          "updated_at"
        ]
      },
      "CustomerUpdatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer.updated"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "customer"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "JobScheduledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.scheduled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "assigned_tech_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scheduled_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_arrival": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "actual_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "problem_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "diagnosis": {
            "type": [
              "string",
              "null"
            ]
          },
          "work_performed": {
            "type": [
              "string",
              "null"
            ]
          },
          "parent_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "property_id",
          "equipment_id",
          "assigned_tech_id",
          "status",
          "priority",
          "type",
          "source",
          "scheduled_date",
          "scheduled_start",
          "scheduled_end",
          "actual_arrival",
          "actual_start",
          "actual_end",
          "problem_description",
          "diagnosis",
          "work_performed",
          "parent_job_id",
          "estimate_id",
          "created_at",
          "updated_at"
        ]
      },
      "JobStatus_changedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.status_changed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "JobCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "job.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "job"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "EstimateSentEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.sent"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "converted_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "property_id",
          "equipment_id",
          "status",
          "valid_until",
          "customer_approved_at",
          "notes",
          "converted_job_id",
          "created_at",
          "updated_at"
        ]
      },
      "EstimateApprovedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "estimate.approved"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Estimate"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "estimate"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "InvoiceIssuedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.issued"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "invoice_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "subtotal": {
            "type": "number"
          },
          "tax_amount": {
            "type": "number"
          },
          "tax_rate": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paid_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "job_id",
          "invoice_number",
          "status",
          "subtotal",
          "tax_amount",
          "tax_rate",
          "total",
          "due_date",
          "sent_at",
          "paid_at",
          "notes",
          "created_at",
          "updated_at"
        ]
      },
      "InvoicePaidEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice.paid"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Invoice"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "invoice"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "PaymentReceivedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "payment.received"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Payment"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "payment"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "invoice_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number"
          },
          "method": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "stripe_payment_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "collected_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "invoice_id",
          "amount",
          "method",
          "status",
          "stripe_payment_id",
          "collected_at",
          "collected_by",
          "created_at",
          "updated_at"
        ]
      },
      "VoiceCallCompletedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.call.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceCallDetail"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_call"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "VoiceCallDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VoiceCallListRow"
          },
          {
            "type": "object",
            "properties": {
              "transcript": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "recording_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "transcript",
              "recording_url"
            ]
          }
        ]
      },
      "VoiceCallListRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "call_direction": {
            "type": "string"
          },
          "call_status": {
            "type": "string"
          },
          "from_number": {
            "type": "string"
          },
          "to_number": {
            "type": "string"
          },
          "duration_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "is_spam": {
            "type": "boolean"
          },
          "is_billable": {
            "type": "boolean"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_sentiment": {
            "type": [
              "string",
              "null"
            ]
          },
          "call_intent": {
            "type": [
              "string",
              "null"
            ]
          },
          "urgency_level": {
            "type": [
              "string",
              "null"
            ]
          },
          "triage_status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customer_id",
          "call_direction",
          "call_status",
          "from_number",
          "to_number",
          "duration_seconds",
          "is_spam",
          "is_billable",
          "summary",
          "user_sentiment",
          "call_intent",
          "urgency_level",
          "triage_status",
          "created_at",
          "updated_at"
        ]
      },
      "VoiceFollowupCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice.followup.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceFollowup"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "voice_followup"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "VoiceFollowup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_call_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "urgency": {
            "type": "string"
          },
          "callback_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "related_estimate_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_invoice_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "related_job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "voice_call_id",
          "customer_id",
          "category",
          "reason",
          "urgency",
          "callback_number",
          "related_estimate_id",
          "related_invoice_id",
          "related_job_id",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "MembershipCreatedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.created"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "Membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "service_agreement_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "billing_cycle": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_billing_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_maintenance_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "cancelled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancellation_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "suspended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "service_agreement_id",
          "status",
          "billing_cycle",
          "start_date",
          "end_date",
          "next_billing_date",
          "next_maintenance_date",
          "cancelled_at",
          "cancellation_reason",
          "suspended_at",
          "created_at",
          "updated_at"
        ]
      },
      "MembershipRenewedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.renewed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "MembershipCancelledEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable event id (e.g. evt_a93a7817f5a8485d80204becea). Dedupe across retries by this value.",
            "examples": [
              "evt_a93a7817f5a8485d80204becea"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "membership.cancelled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Membership"
              },
              {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "membership"
                    ]
                  }
                },
                "required": [
                  "object"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "organization_id",
          "data"
        ]
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "method_not_allowed",
                  "conflict",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string"
              },
              "doc_url": {
                "type": "string",
                "format": "uri"
              },
              "request_id": {
                "type": "string",
                "examples": [
                  "req_a93a7817f5a8485d80204becea"
                ]
              }
            },
            "required": [
              "code",
              "message",
              "doc_url",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CustomerDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "has_duplicates"
        ]
      },
      "CustomerWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Integrator's own identifier. When paired with `external_source`, POSTing the same value twice upserts the existing row (200) instead of creating a duplicate (201)."
          },
          "external_source": {
            "type": "string",
            "description": "Namespace for `external_id` (e.g. 'servicetitan'). Required when `external_id` is provided."
          },
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "source": {
            "type": "string",
            "enum": [
              "google",
              "referral",
              "angi",
              "website",
              "other"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20
          }
        },
        "required": [
          "first_name",
          "last_name"
        ]
      },
      "CustomerPatchRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "phone_alt": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "billing_address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "billing_address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "billing_city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "billing_state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "billing_zip": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "source": {
            "type": "string",
            "enum": [
              "google",
              "referral",
              "angi",
              "website",
              "other"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 20
          }
        },
        "description": "Partial update. `external_id` / `external_source` cannot be changed via PATCH (re-POST with a new pair instead). Unknown keys return 422."
      },
      "PropertyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "customer_id",
          "address_line_1",
          "address_line_2",
          "city",
          "state",
          "zip",
          "type",
          "access_notes",
          "lat",
          "lng",
          "created_at",
          "updated_at"
        ]
      },
      "PropertyDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Property"
          }
        },
        "required": [
          "data"
        ]
      },
      "PropertyWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "external_source": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Customer UUID. Provide this OR `customer_external_id` + `customer_external_source`."
          },
          "customer_external_id": {
            "type": "string"
          },
          "customer_external_source": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          }
        },
        "required": [
          "address_line_1",
          "city",
          "state",
          "zip"
        ]
      },
      "PropertyPatchRequest": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "type": {
            "type": "string",
            "enum": [
              "residential",
              "commercial"
            ]
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          }
        }
      },
      "EquipmentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Equipment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Equipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ]
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition": {
            "type": "string"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "external_source",
          "property_id",
          "type",
          "manufacturer",
          "model",
          "serial_number",
          "install_date",
          "warranty_expiry",
          "condition",
          "notes",
          "data_plate_photo_url",
          "created_at",
          "updated_at"
        ]
      },
      "EquipmentDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          }
        },
        "required": [
          "data"
        ]
      },
      "EquipmentLookup": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Equipment"
          },
          "has_duplicates": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "has_duplicates"
        ]
      },
      "EquipmentWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "external_source": {
            "type": "string"
          },
          "property_id": {
            "type": "string",
            "format": "uuid",
            "description": "Property UUID. Provide this OR `property_external_id` + `property_external_source`."
          },
          "property_external_id": {
            "type": "string"
          },
          "property_external_source": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "furnace",
              "ac",
              "heat_pump",
              "boiler",
              "mini_split",
              "water_heater",
              "thermostat",
              "iaq",
              "other"
            ]
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition": {
            "type": "string",
            "enum": [
              "good",
              "fair",
              "poor",
              "critical"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048
          }
        },
        "required": [
          "type"
        ]
      },
      "EquipmentPatchRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "furnace",
              "ac",
              "heat_pump",
              "boiler",
              "mini_split",
              "water_heater",
              "thermostat",
              "iaq",
              "other"
            ]
          },
          "manufacturer": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "serial_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "install_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "warranty_expiry": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition": {
            "type": "string",
            "enum": [
              "good",
              "fair",
              "poor",
              "critical"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "data_plate_photo_url": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048
          }
        }
      },
      "JobList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "JobDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Job"
          }
        },
        "required": [
          "data"
        ]
      },
      "JobWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "external_source": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_external_id": {
            "type": "string"
          },
          "customer_external_source": {
            "type": "string"
          },
          "property_id": {
            "type": "string",
            "format": "uuid"
          },
          "property_external_id": {
            "type": "string"
          },
          "property_external_source": {
            "type": "string"
          },
          "equipment_id": {
            "type": "string",
            "format": "uuid"
          },
          "equipment_external_id": {
            "type": "string"
          },
          "equipment_external_source": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "scheduled",
              "en_route",
              "in_progress",
              "completed",
              "invoiced",
              "closed",
              "follow_up",
              "cancelled"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "emergency",
              "urgent",
              "scheduled"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "service",
              "maintenance",
              "install",
              "estimate",
              "callback"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "call",
              "website",
              "membership_auto",
              "follow_up",
              "estimate_conversion",
              "recurring"
            ]
          },
          "scheduled_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_start": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_end": {
            "type": [
              "string",
              "null"
            ]
          },
          "problem_description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          }
        },
        "description": "Required FKs (customer, property) can be supplied as UUID OR as `{name}_external_id` + `{name}_external_source`. Equipment is optional, same dual form. PATCH on jobs is status-only."
      },
      "JobPatchRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "created",
              "scheduled",
              "en_route",
              "in_progress",
              "completed",
              "invoiced",
              "closed",
              "follow_up",
              "cancelled"
            ]
          }
        },
        "required": [
          "status"
        ],
        "description": "Status-only per spec §4. Invalid transitions (per VALID_STATUS_TRANSITIONS — same rules the UI enforces) return 422. No-op (same status) returns 200 with the unchanged row."
      },
      "MembershipList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Membership"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "MembershipDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Membership"
          }
        },
        "required": [
          "data"
        ]
      },
      "MembershipWriteRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "external_source": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_external_id": {
            "type": "string"
          },
          "customer_external_source": {
            "type": "string"
          },
          "service_agreement_id": {
            "type": "string",
            "format": "uuid",
            "description": "Service agreement UUID. The service_agreements table does NOT carry external_id columns in V1 — UUID is the only supported reference."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "cancelled",
              "expired"
            ]
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_billing_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_maintenance_date": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "service_agreement_id"
        ]
      },
      "MembershipPatchRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "cancelled",
              "expired"
            ]
          }
        },
        "required": [
          "status"
        ],
        "description": "Status-only per spec §4."
      },
      "EstimateList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Estimate"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "EstimateDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Estimate"
          }
        },
        "required": [
          "data"
        ]
      },
      "InvoiceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "InvoiceDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Invoice"
          }
        },
        "required": [
          "data"
        ]
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "PaymentDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Payment"
          }
        },
        "required": [
          "data"
        ]
      },
      "VoiceCallList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceCallListRow"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VoiceCallDetailEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VoiceCallDetail"
          }
        },
        "required": [
          "data"
        ]
      },
      "PricebookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricebookItem"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "PricebookItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "unit_price": {
            "type": "number"
          },
          "unit_cost": {
            "type": "number"
          },
          "is_taxable": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "category_id",
          "name",
          "description",
          "type",
          "unit_price",
          "unit_cost",
          "is_taxable",
          "is_active",
          "created_at",
          "updated_at"
        ]
      },
      "PricebookDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PricebookItem"
          }
        },
        "required": [
          "data"
        ]
      },
      "CommunicationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Communication"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "MjAyNi0wNS0wN1QwODo1OTowMi4xMjIzNDQrMDA6MDB8MzZhNTlmMDQ"
            ],
            "description": "Opaque cursor. Pass back as `?starting_after=<cursor>` to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Communication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "channel": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "message_body": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "twilio_message_sid": {
            "type": [
              "string",
              "null"
            ]
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customer_id",
          "job_id",
          "channel",
          "direction",
          "type",
          "recipient",
          "message_body",
          "status",
          "twilio_message_sid",
          "sent_at",
          "created_at",
          "updated_at"
        ]
      },
      "CommunicationDetail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Communication"
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Page size. Default 50, hard-capped at 100.",
              "examples": [
                "50"
              ]
            },
            "required": false,
            "description": "Page size. Default 50, hard-capped at 100.",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous response's `next_cursor`."
            },
            "required": false,
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return customers created strictly after this ISO-8601 timestamp."
            },
            "required": false,
            "description": "Return customers created strictly after this ISO-8601 timestamp.",
            "name": "created_after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (or exists in another org — existence is masked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the seconds in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create or upsert a customer",
        "description": "POSTing the same `external_id` + `external_source` twice upserts the existing row instead of creating a duplicate.",
        "security": [
          {
            "bearerAuth": [
              "write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK — an existing row was updated. Returned when the supplied `external_id` + `external_source` matched an existing row (idempotent retry).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "201": {
            "description": "Created — a new row was inserted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (or exists in another org — existence is masked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent INSERT race lost — another request with the same `external_id` + `external_source` won. Retry the same payload; the upsert will hit the existing row and return 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed (Zod). Common causes: missing required field, unknown field (.strict()), `external_id` without `external_source`, FK reference not found in this organization, invalid job status transition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the seconds in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Resource UUID."
            },
            "required": true,
            "description": "Resource UUID.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Single resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (or exists in another org — existence is masked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the seconds in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "security": [
          {
            "bearerAuth": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Resource UUID."
            },
            "required": true,
            "description": "Resource UUID.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK — row updated. Body returns the full updated resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (or exists in another org — existence is masked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent INSERT race lost — another request with the same `external_id` + `external_source` won. Retry the same payload; the upsert will hit the existing row and return 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed (Zod). Common causes: missing required field, unknown field (.strict()), `external_id` without `external_source`, FK reference not found in this organization, invalid job status transition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the seconds in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/lookup": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Look up a customer by phone, email, or external_id",
        "description": "Returns the most-recent match plus a `has_duplicates` hint when more than one customer shares the lookup key.",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "phone",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "external_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "external_source",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Matched resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLookup"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (or exists in another org — existence is masked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the seconds in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/properties": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "List properties",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Page size. Default 50, hard-capped at 100.",
              "examples": [
                "50"
              ]
            },
            "required": false,
            "description": "Page size. Default 50, hard-capped at 100.",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous response's `next_cursor`."
            },
            "required": false,
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "customer_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "created_after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — query parameter validation failed.",
            "content": {
              "application/json": {
                "schema": {
[...]
